<!DOCTYPE html>
{%extends 'tradezone/base.html'%}
{%load staticfiles%}
   {%block body_block%}
   <div class="BestInvest" id="bestInvest">
            <h1>Best Way To Short List Stocks</h1>
            <h3>Equity as an asset class outperforms all other asset classes in the long run. True. But, how do you pick the right company?</h3>
            <p>It’s always important to spend time in knowing a company, its business, financial health and prospects. But do you have the time, resources and energy to study about 1,400 companies listed on the National Stock Exchange (NSE) and about 4,900 on the Bombay Stock Exchange (BSE) before selecting the one to invest?
If these numbers make you uncomfortable, sample these: the market capitalisation of these companies ranges from a few lakhs to over Rs 2 lakh crore and the prices of shares from less than a rupee to over Rs 12,000 per share.
So, how and where do you make a start? We give you seven basic screening criteria, which will help you shortlist companies that are worth researching in the first place.
 </p>
            <h3>1.Is the company’s market cap more than Rs 250 crore (Rs 2.50 billion)?</h3>
            <p>Setting a minimum market cap floor really helps — it eliminates very small companies, or penny stocks. Generally, small companies have a small revenue base and they do not spend too much on investor relations. This makes tracking them difficult. At Outlook Money, we do not look at companies that have a market cap of less than Rs 250 crore. About 500 companies at NSE pass this criteria.</p>
            <h3>2. Are the company’s trading volumes high?</h3>
            <p>The company should have a reasonable trading volume — at least a few thousand shares per day. If you buy into a stock that has low volume, it can become difficult to get out when the markets fall. Both rise and fall is sharp in stocks with low volume. Also, the impact cost is high.
For example, MMTC, a state-owned company, has a market cap of over Rs 62,000 crore (Rs 620 billion), but its trading volume is very thin. The 30-day average trading volume of this stock is just about 338 shares and the stock is trading at Rs 12,400 per share. It is always advisable to avoid these kinds of stocks.
            </p>
            <h3>3. Does the company make quality disclosures?</h3>
            <p>The company should have good quality disclosures. This is an easy test. All you have to do is visit the company website and see press releases and results for the last few quarters. In the results part, you need not get into numbers in detail as of now, but do see how the developments of last quarter have been explained.
For example, see if cost has increased, or margins have declined, and whether there is an explanation for it.
Large companies, especially in the information technology sector, are generally good at this. Tata Consultancy Services [Get Quote], India’s largest IT company by revenue, has a transcript of analyst conference call on its website, which possibly answers all the questions that investors have.
Availability of information makes tracking easy and decision-making becomes quicker while you are invested in the company.
 </p>
       <h3>4. Does the company have operating profits?</h3>
            <p>Sometimes, companies raise money from the equity markets in their initial stages and hope to cover the costs by generating profits from operations later. Actually, they are in a stage when they spend money for, say, setting up plants, or research and development facilities.
These businesses sound exciting, but can be risky. It is advisable to avoid such companies. New projects involve a lot of regulatory approvals and can get delayed, which can escalate cost. Also, stock prices of such companies are the first to fall during any broader market correction, as there are no earnings to support the prices.
This is exactly what happened with Reliance Power, which does not have any of its plants in operation. Its public issue got heavily oversubscribed (73 times) due to general euphoria in the market, but sentiments changed between issue and listing. The issue went on to become one of the biggest disasters in the markets.
Therefore, it is always safer to be in companies that generate profits from their operations.
 </p>
       <h3>5. Does the company generate constant cash flows?</h3>
            <p>At times, fast-growing companies may show profits without generating cash. These companies are in their expansion stage. They have to generate cash eventually and create value for the shareholders.
Companies with a negative cash flow may have to seek additional capital, either through debt or equity. Debt will increase the risk while equity will dilute the earnings, which will get reflected in the share prices also
 </p>
       <h3>6. Is its return to equity (RTE) constantly above 10 per cent?</h3>
            <p>RTE is the profit a company generates with the shareholders’ money and is calculated by dividing net profits with shareholders’ equity. It indicates how well a company has deployed investors’ money.
The RTE is generally low in case of manufacturing companies and is higher for services companies as the cost of setting infrastructure is low in services companies. Use 10 per cent as the minimum limit for companies to qualify. There are just about 400 companies listed on NSE with a market cap above Rs 250 crore that generated return on equity above 10 per cent in the financial year 2007-08.
</p>
       <h3>7. Is the earnings growth constant or cyclical?</h3>
            <p>Cyclical earnings implies that profits move up or down depending on the business cycle. Businesses generally move in cycles.
This is commonly seen in commodity companies, where a shortage or sudden rise in demand helps prices to move up, resulting in super normal profits for a while. Sugar is a classic example of cyclical earnings.
Bajaj Hindustan , the largest sugar company in India, saw its share prices soaring from Rs 200 in November 2005 to Rs 550 in April 2006 on the back of rising sugar prices; net sales for the company went up Rs 394 crore (Rs 3.94 billion) in the March 2006 quarter compared to Rs 282 crore (Rs 2.82 billion) in the September 2005 quarter.
But by the end of the December quarter, net sales went down to Rs 286.64 crore (Rs 2.86 billion) and the share price to Rs 140. The biggest risk in investing in cyclical or commodity stocks is that you could enter at the wrong time.
Once the cycle is reversed, it becomes difficult to get out. Commodity prices are interlinked globally, and any demand-supply mismatch in one corner of the world can disturb prices all over.
Companies in the pharma and FMCG space have stable growth in the long term as demand in these sectors depends on the business cycle and macroeconomic movements. The services sector also has stable earnings growth compared to commodity stocks.
If you carry out these seven checks, you will, by and large, be able to eliminate companies that are not worth investing. However, investors must note that these conditions are not fool-proof and there can always be exceptions.
</p>
   </div>
    {%endblock%}