<!DOCTYPE html>
{% extends 'tradezone/base.html'%}
{%block title_block%}
{%endblock%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
    {%block body_block%}
    <h1>Difference between Trading and Investing </h1>
    <p>A Large number of people are confused with what is trading and what is Investing.Investing on one hand is like buying a asset (a bunch of stocks is Stock market) and holding it for a long time say 10 or more years. Many Investors buy stocks for long run and then sell them off in huge profit.
       Some big investors such as Warren Buffet have made more money in Long Term Investing or Investing rather that in Trading (Intraday).Trading on the other hand it like buy a stocks for 2-4 Days or Intraday trading.
       In these volatile markets its very difficult to make good profits in Intraday trading, some traders intended to buy stocks for short term and then sell them off in profits</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    {%endblock%}
    </div>
 </div>

