<!DOCTYPE html>
{%extends 'tradezone/base.html'%}
{%load staticfiles%}
   {%block body_block%}
        <div id="tradeCarousel" class="carousel slide" data-ride="carousel">

          <ul class="carousel-indicators">
                    <li data-target="#tradeCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#tradeCarousel" data-slide-to="1"></li>
          git </ul>


          <div class="carousel-inner" align="center">
          <div class="carousel-item active">
                <img src="{%static 'images/Art_Of_Trading_edited2.jpg'%}" alt="ArtOfTrading" width="800" height="600">
                <div class="carousel-caption" align="right">
                    <h3>MASTER </h3>
                    <h3>Art of Trading</h3>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Start Learning</button>
                </div>
          </div>
          <div class="carousel-item">
                <img src="{%static 'images/Customer_Service.jpg'%}" alt="Investment" width="800" height="600">
                <div class="carousel-caption" align="right">
                    <h3>ASSISTANCE </h3>
                    <h3>On The Stock Market</h3>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Click Me</button>
                </div>
          </div>
          <!--div class="carousel-item">
                <img src="{%static 'images/Trade_edited.jpg'%}" alt="Trade" width="800" height="600">
          </div-->
    </div>

    <a class="carousel-control-prev" href="#tradeCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#tradeCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    </div>


   {%endblock%}