<!DOCTYPE html>
{% extends 'tradezone/base.html'%}
{%block body_block%}
 <div class="VBI">
        <h1>Verify Before you Invest</h1>
        <h4><p> It is very important for the investors to follow the Dos and Don’t in general while dealing in the stock market. As there are attendant risks associated with it.</p>
            <p> Given below are the Dos and Don’ts in general for investors who are dealing in Stock markets.</p></h4>
     <div class="container">
     <table class="table">
         <thead>
            <tr class="table-info">
                <th>Do's</th>
                <th>Don'ts</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td class="table-success"><i class="fa fa-check" aria-hidden="true"> Always deal with the market intermediaries registered with SEBI / Exchanges.</i> </td>
                <td class="table-danger"><i class="fa fa-times" aria-hidden="true"> Don’t deal with unregistered brokers / sub-brokers, intermediaries. </i></td>
            </tr>
            <tr>
                <td class="table-success"><i class="fa fa-check" aria-hidden="true"> Give clear and unambiguous instructions to your broker / agent / depository participant.</td>
                 <td class="table-danger"><i class="fa fa-times" aria-hidden="true"> Don’t deal based on rumours .</td>
             </tr>
            <tr>
                <td class="table-success"><i class="fa fa-check" aria-hidden="true"> Always insist on contract notes from your Broker. In case of doubt of the transactions, verify the genuineness of the same on the Exchange website.</td>
                <td class="table-danger"><i class="fa fa-times" aria-hidden="true"> Don’t fall prey to promises of guaranteed returns.</td>
            </tr>
             <tr>
               <td class="table-success"><i class="fa fa-check" aria-hidden="true"> Always settle the dues through the normal banking channels with the market intermediaries.</td>
                <td class="table-danger"><i class="fa fa-times" aria-hidden="true"> Don’t get misled by companies showing approvals / registrations from Government agencies as the approvals could be for certain other purposes and not for the securities you are buying.</td>
            </tr>
             <tr>
               <td class="table-success"><i class="fa fa-check" aria-hidden="true"> Before placing an order with the market intermediaries please check about the credentials of the companies, its management, its fundamentals and recent announcements made by them and various other disclosures made under various Regulations. The sources of information are the websites of Exchanges and companies, databases of data vendor, business magazines etc.</td></td>
                <td class="table-danger"><i class="fa fa-times" aria-hidden="true"> Don’t leave the custody of your Demat Transaction slip book in the hands of any Intermediary.</td>
            </tr>
            <tr>
                <td class="table-success"><i class="fa fa-check" aria-hidden="true"> Adopt trading / investment strategies commensurate with your Risk bearing capacity as all investments carry risk, the degree of which varies according to the investment strategy adopted.</td>
                 <td class="table-danger"><i class="fa fa-times" aria-hidden="true"> Don’t get carried away with onslaught of advertisements about the financial performance of Companies in print and electronic media.</td>
            </tr>
             <tr>
                <td class="table-success"><i class="fa fa-check" aria-hidden="true"> Please carry out due-diligence before registering as client with any Intermediary. Further, the investors are requested to carefully read and understand the contents stated in the Risk Disclosure Document, which forms part of investor registration requirement for dealing through brokers in Stock Market.</td>
                 <td class="table-danger"><i class="fa fa-times" aria-hidden="true"> Don’t blindly follow media reports on corporate developments, as they could be misleading.</td>
            </tr>
            <tr>
                <td class="table-success"><i class="fa fa-check" aria-hidden="true"> Be cautious about stocks, which show a sudden spurt in price or trading activity, especially low price stocks and Please be informed that there are no guaranteed returns on investment in stock markets.</td>
                 <td class="table-danger"><i class="fa fa-times" aria-hidden="true"> Don’t blindly imitate investment decisions of others who may have profited from their investment decisions.</td>
            </tr>
         </tbody>
     </table>
     </div>
    </div>

{%endblock%}